@import url(./info.css);
/*
Index
*/
/*?Estructura*/
.Contenedor
{
    background-color: rgb(207, 235,247);
}

.Encabezado
{
    /*Canal alfa de transpariencia*/
    width: auto;
    height: 9em;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: #049dd9;
    z-index: 1;
}




.Contenido
{

    position: absolute;
    top: 9em;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 180em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    /*Caja principal*/

}



.Pie
{
    
    width: auto;
    height: 8.125em;
    
    /*Canal alfa de transpariencia*/
    top: 189em;
    left: 0em;
    right: 0em;
    
    position: absolute;
    background-color:  #049dd9;
}

/*! Encabezados*/
/*Titulo*/
h1
{
    position: relative;
    right: 10%;
    font-size: 2em;
    text-align: right;
    font-family: Verdana, Arial;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*Banda blanca con lista de directorios*/
.BandaBlanca
{

    
    position: relative;
    height: 2em;
    width: auto;
    top: 1em;
    bottom: 1em;
    background: #FFFFFF;
}

.EnlaceRutaHouse
{
    position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    float: left;
    height: 1.5em;
    bottom: 10%;
    left: 20%;
    
}

.EnlaceRutaHistoria
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 35%;
}

.EnlaceRutaServicios
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 48%;
}

.EnlaceRutaContactanos
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 60%;
}

.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 40%;
    bottom: 10%;
    left: 10%;
}

/*Informacion principal de la pagina

width: 38em;
width: 38em;
margin: 7em;
*/
.FlexInformacion
{
    position: relative;
    display: flex;

    height: 36em;
}


.Informacion
{
    position: relative;
    flex: 1;

    top: 16em;
    left: 8em;
    width: 30em;
    height: 16em;
}

.MarcoDeInformacion
{
    position: relative;
    flex:1;
    top: 0%;
    background-image: url('../Vectores/Recurso\ 6.svg');
    height: 36em;
    background-repeat: no-repeat;
    
    
}

.CuadroDeImagen
{
    flex: 1;
    position: relative;
    width: 10em;
    height: 36em;
    
}

.Contenido .CuadroDeImagen
{
    background-image: url('../Imagenes/Enfermera.jpg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}




/*font-size: 3em;*/
h2
{
    position: relative;
    
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
}
h4
{
    font-family: Verdana, Arial;
    color: #57D6F2;
}


/*
<img class="ImagenDeInformacion" src="./Imagenes/Enfermera.jpg" />
.ImagenDeInformacion

<img class="MarcoDeInformacion" src="./Vectores/Recurso 6.svg"/>
            
{
    position: absolute;
    width: auto;
    height: 48em;
    z-index: 1;
}
*/


/*Informacion con iconos*/

.ContenedorIconos
{   
    
    top: 10em;
    position: relative;
    width: auto;
    height: 30em;
    /*
    background-color: crimson;
    */
    display: flex;
    
    justify-content: center;
    
}

.ContenedorIconos > div
/*Seleccion de elementos hijo*/
{
    position: relative;
    flex: 1;
    
    border-radius: 50px;
    background: #ffffff;
    box-shadow: -20px 20px 60px #d9d9d9, 
            20px -20px 60px #ffffff;
    
    margin: 3em;
    padding: 1em;
    width: 10em;
    

}

.IconosThenNoun{
    position: relative;
    top: 1em;
    height: 9em;
    bottom: 3em;
    left: 0.6em;
}

div p
{
    color: #049dd9;
}

.TextoDeInfografia
{
    
    position: relative;
    width: auto;
    height: auto;

    top: 2em;
    bottom: auto;
    width: 100%;
    text-align: center;
    font-family: Arial;
}

/*Imagenes del centro*/

.ContenedorDeAnuncio
{
    top: 20em;
    position: relative;
    width: auto;
    height: 30em;
    display: flex;
    flex-direction: column;
    background-color:white;
}

.ContenedorDeImagen
{
    position: relative;
    top: 3em;
    width: 50%;
    height: 90%;
    left: 25%;
    bottom: 1em;
    background: linear-gradient(145deg, #56e6e6, #ffffff);
    box-shadow:  20px 20px 60px #575757, 
            -20px -20px 60px #cacaca;
    bottom: 2em;

}

.ImagenDeAnuncio
{
    position: relative;
    width: 100%;
    height: 100%;
}

.EncabezadoAnuncio
{
    top: 2%;
    position: relative;
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
    left: 15%;
    width: 5em;
    font-size: 3em;
    color: #049dd9;
}

.ContenidoDelAnuncio
{
    
    position: relative;
    text-align: right;
    font-family: Verdana, Arial;
    right: 15%;
    top: 5em;
}

/* Slide*/
.ContenedorDeSlide
{
    top: 40em;
    position: relative;
    width: auto;
    height: 30em;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

/*Redes sociales*/
.RedesSociales
{
    position: relative;
    
    display: flex;
    top: 2em;
    height: 4em;
    left: 10%;
    width: 80%;
    bottom: 2em;
    flex-direction: row;
}

.Creadores
{
    position: relative;
    top: 1.5em;
    flex: 25;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    font-weight: bold;
}

.RedesSociales >img
{
    margin: 1em;
    position: relative;
    top: -0.6em;
    flex: 1;
    width: 0.02em;
    height: 60%;
}

.Encabezado  a
{
    color: #000000; 
    font-weight: bold;
    text-decoration: none;
}