@import url(./info.css);
/*
Index
*/
/*?Estructura*/
.Contenedor
{
    background-color: rgb(207, 235,247);
}

.Encabezado
{
    display: flex;
    width: 100vw;
    height: 19vh;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: #049dd9;
    z-index: 1;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
}




.Contenido
{
    width: 80vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}



.Pie
{
    display: flex;
    width: 100%;
    height: 9vh;
    top: 0em;
    left: 0em;
    right: 0em;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-around;
    background-color: #049dd9;
}
/*! Encabezados*/
/*Titulo*/
h1
{
   
    top:2vh;
    position: relative;
    float: right;
    right:10%;
    /*Esta es la fuente que cambie*/
    font-size: 3.2vw;
    text-align: right;
    font-family: Verdana, Arial;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*Banda blanca con lista de directorios*/
.BandaBlanca
{
    align-items: center;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 2vh;
    width: 100vw;
    bottom: 0.1vh;
    flex-direction: row;
    background: #FFFFFF;
    padding-left: 20vw;
    padding-right: 20vw;
}

.EnlaceRutaHouse
{
   
    position: relative;
    font-family: Verdana, Arial;
    float: left;
    height: 2.5vh;
    bottom: 10%;
       
}

.EnlaceRutaHistoria
{
    font-size: 2vw;
    position: relative;
    font-family: Verdana, Arial;
   
    float: left;
   
}

.EnlaceRutaLogin, .EnlaceRutaRegistro 
{
    color: #1696e7;
    font-size: 2vw;
    position: relative;
    font-family: Verdana, Arial;
    
    float: left;
   
}


.EnlaceRutaServicios
{
    font-size: 2vw;
    position: relative;
    font-family: Verdana, Arial;
    

    float: left;
}

.EnlaceRutaContactanos
{

    position: relative;
    font-family: Verdana, Arial;
   
    font-size: 2vw;
   
    float: left;
}

.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 8vh;
    bottom: 10%;
    left: 10%;
}

/*Informacion principal de la pagina

width: 38em;
width: 38em;
margin: 7em;
*/
.FlexInformacion
{
    position: relative;
    display: flex;
    flex:1;
    top: 18vh;

    height: 40vh;
    
}


.Informacion
{
    flex: 1.3;
    justify-content: flex-end;
    margin: 1vw;
    height: 40vh;
}

.MarcoDeInformacion
{
  
    flex:1;
    top: 0%;
    background-image: url('../Vectores/Recurso\ 6.svg');
    height: 100vw;
    background-repeat: no-repeat;
}


.CuadroDeImagen
{
    flex: 1;
    
    width: 10vh;
    height: 36vw;
}

.Contenido .CuadroDeImagen
{
    background-image: url('../Imagenes/Enfermera.jpg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}




/*font-size: 3em;*/
h2
{
    position: relative;
    font-size: 4vw;
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0em;
}
h4
{
    font-family: Verdana, Arial;
    color: #57D6F2;
    font-size: 2vw;
}



/*Informacion con iconos*/

.ContenedorIconos
{
    top: 10vh;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10vh;
   
}



.ContenedorIconos > div
/*Seleccion de elementos hijo*/
{
    position: relative;
    display: flex;
    border-radius: 5vh;
    background: #ffffff;
    box-shadow: -2.50vh 2.50vh 7.50vh #d9d9d9, 
    2.50vh -2.50vh 7.50vh #ffffff;
    margin: 2vh;
    height: 30vw;
    width: 14vw;
    align-items: center;
    
    flex-direction: column;
}

.IconosThenNoun{
  
    position: relative;
    width: 10vw;
}



.TextoDeInfografia
{
    color: #049dd9;
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 1.4vw;
}

/*Imagenes del centro*/

.ContenedorDeAnuncio
{
    top: 6vh;
    position: relative;
    width: auto;
    height:auto;
    display: flex;
    flex-direction: column;
   background-color: #ffffff;
   padding-bottom: 7VW;;
   align-items: center;

}

.ContenedorDeImagen
{
    margin: 2vw;
    top: 3vh;               
    width: 40%;
}

.ImagenDeAnuncio
{
    position: relative;
    width: 100%;
    height: 100%;
}

.EncabezadoAnuncio
{
    top: 2%;
    position: relative;
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vh;
    color: #049dd9;
}

.ContenidoDelAnuncio
{
    text-align: right;
    font-family: Verdana, Arial;
    font-size: 2vw;
}



/*Redes sociales*/
.RedesSociales
{
    top: 1vh;
    width: 20%;
    align-items: center;
}

.Creadores
{
    top: 1vh;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
}

.redsociamimg
{
    margin-left: 3.5vw;
    height: 2vw;   
}

.Encabezado  a
{
    color: #000000; 
    font-weight: bold;
    text-decoration: none;
}
/* Slide*/
.slider
{
    top: 4vh;
    width: 100%;
    overflow: hidden;
}
/*Resourc*/


.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 90%;
	list-style: none;
}

.slider img {
    
    width: 100%;
    height: 40vw;
    
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
