/*
Index
*/
/*?Estructura*/
.Contenedor
{
    background-color: rgb(207, 235,247);
}

.Encabezado
{
    /*Canal alfa de transpariencia*/
    width: auto;
    height: 12.5em;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: #049dd9;
    z-index: 1;
}

.FlexInformacion
{
    display: flex;
    flex-wrap: wrap;
    /*background-color: DodgerBlue;
*/}


.Contenido
{

    position: absolute;
    
    top: 12.5em;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 106.125em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    /*Caja principal*/

}



.Pie
{
    
    width: auto;
    height: 8.125em;
    
    /*Canal alfa de transpariencia*/
    top: 118.625em;
    left: 0em;
    right: 0em;
    
    position: absolute;
    background-color:  #049dd9;
}

/*! Encabezados*/
/*Titulo*/
h1
{
    position: relative;
    right: 10%;
    font-size: 3em;
    text-align: right;
    font-family: Verdana, Arial;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*Banda blanca con lista de directorios*/
.BandaBlanca
{

    
    position: relative;
    height: 3em;
    width: auto;
    top: 1em;
    background: #FFFFFF;
}

.EnlaceRutaHouse
{
    position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    float: left;
    height: 2em;
    bottom: 10%;
    left: 15%;
    
}

.EnlaceRutaHistoria
{
    position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    font-size: 2em;
    bottom: 10%;
    left: 30%;
}

.EnlaceRutaServicios
{
    position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    font-size: 2em;
    bottom: 10%;
    left: 45%;
}

.EnlaceRutaContactanos
{
    position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    font-size: 2em;
    bottom: 10%;
    left: 57.5%;
}

.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 40%;
    bottom: 10%;
    left: 10%;
}

/*Informacion principal de la pagina

width: 38em;
width: 38em;
margin: 7em;
*/
.CuadroDeInformacion
{
    

    position: relative;
    height: 48em;
    
}

.Informacion
{
    position: relative;
    top: 16em;
    left: 4em;
    width: 30em;
    height: 44em;
}
/*font-size: 3em;*/
h2
{
    position: relative;
    
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
}
h4
{
    color: #57D6F2;
}


.CuadroDeImagen
{
    flex: auto;
    position: relative;
    background-color: pink;
    height: 44em;
}

.MarcoDeInformacion
{
    position: relative;
    width: auto;
    height: auto;
}

/*
<img class="ImagenDeInformacion" src="./Imagenes/Enfermera.jpg" />
.ImagenDeInformacion

<img class="MarcoDeInformacion" src="./Vectores/Recurso 6.svg"/>
            
{
    position: absolute;
    width: auto;
    height: 48em;
    z-index: 1;
}
*/


/*Informacion con iconos*/

.ContenedorIconos
{   position: relative;
    width: auto;
    height: 30em;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.ContenedorIconos > div
{
    position: relative;
    background-color: #f1f1f1;
    margin: 3em;
    padding: 20px;
}

.IconosThenNoun{
    top: 3em;
    height: 8em;
    bottom: 3em;
}

.InfografiaInyeccion
{
    top: 10em;
    width: 10em;
    height: 20em;
    background-color: tomato;
}