#info{
    color: black;
    text-align: center;
    padding: 10vw;
}
#info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pod{
    margin: -5vw; 
    font-size: 2vw;
    margin-bottom: 5vw;
    
}

.info-pod img{
 
    width: 10vw;
    height: 10vw;
    
}


#info .grid-3{
    display: grid;
    grid-template-columns: 6vw 6vw 6vw;
    grid-gap: 18vw;
    
}


#info h4{
    text-align: center;
    
}
#info p{
    text-align: justify;
    
}
