#info{
    color: black;
    text-align: center;
    padding: 25px;
}
#info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#info .containerfoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pod{
    margin: 20px; 
}

.info-pod img{
 
    width: 180px;
    height: 180px;
    
}

.info-foot{
    
    font: 900;
    
}
.info-foot img{
    width: 30%;
    height: 30%;
}
@media(min-width:480px){
     .info-pod{
        width: 40%;
     }
}
@media(min-width:1024px){
     .info-pod{
        width: auto;
    }
#info .grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
#info .grid-f{
   
    display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-gap: 20px;
}

.grid-f p {
    text-align: center;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#info h4{
    text-align: center;
}
#info p{
    text-align: justify;
}
}