@import url(./info.css);
/*
Index
*/
/*?Estructura*/
.Contenedor
{
    background-color: rgb(207, 235,247);
    
}

.Encabezado
{
    width: auto;
    height: 16vw;
    position: fixed;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    background-color: #049dd9;
    z-index: 1;
    font-size: 1vw;
    
}

.Contenido
{
    position: absolute;
    top: 15vw;
    left: 10vw;
    right: 1vw;
    width: 80vw;
    height: 160vw;
    background: #FFFFFF 0vw 0vw no-repeat padding-box;
    opacity: 1;
    margin-bottom: 20vw;
}



.Pie
{
    width: auto;
    height: 10vw;
    top: 160vw;
    left: 0vw;
    right: 0vw;   
    position: absolute;
    margin-top: 10vw;
    background-color:  #049dd9;
}

h1
{
    position: relative;
    right: 10vw;
    font-size: 3.2vw;
    text-align: right;
    font-family: Verdana, Arial;
    color: #FFFFFF;
    text-transform: uppercase;
}

h2
{
    position: relative;
    text-align: left;
    font-family: Verdana, Arial;
    font-weight: bold;
    text-transform: uppercase;
}
h4
{
    font-family: Verdana, Arial;
    color: rgb(21, 9, 31);
}


.BandaBlanca
{
    position: relative;
    height: 5vw;
    width: auto;
    top: 1vw;
    bottom: 1vw;
    background: #FFFFFF;
    
}

.EnlaceRutaHouse
{
    position: relative;
    font-family: Verdana, Arial;
    font-size: 2.5vw;
    top: 10%;
    float: left;
    height: 1.5em;
    bottom: 10%;
    left: 20vw;
    
}

.EnlaceRutaHistoria
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 2.5vw;
    left: 35vw;
    
}

.EnlaceRutaServicios
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 2.5vw;
    left: 35vw;
    margin-left: 3vw;
}

.EnlaceRutaContactanos
{
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 2.5vw;
    left: 35vw;
    margin-left: 3vw;
}

.Logo
{
    position: relative;
    top: 1vh;
    float: left;
    height: 6vw;
    bottom: 1vw;
    left: 10vw;
}

.RedesSociales
{
    position: relative;
    display: flex;
    top: 2vw;
    height: 4vw;
    left: 10vw;
    width: 80vw;
    bottom: 2vw;
    flex-direction: row;
}

.Creadores
{
    position: relative;
    top: 2vw;
    flex: 25;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
}
.RedesSociales >img
{
    margin: 1em;
    position: relative;
    top: -1.5vh;
    width: 5vw;
    height: 5vw;
}

.Encabezado  a
{
    color: #000000; 
    font-weight: bold;
    text-decoration: none;
}
